.default-intro-img {
    background-color: #033303;
    background-image: url('Images/pexels-sagui-andrea-618833.jpg');
    background-size: cover;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: 0px;
    padding: 0px;  
    color: #F0FFF0;
    text-align: left;
}

.default-intro-img div{
    margin-left: 3em;
    height: 250px;
    margin: 40px;
}

.default-intro-img h1 {
    font-size: 3em;
    margin-top: 80px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 10px #1A1C1A;
}

.default-intro-img p {
    font-size: 1.5em;
    margin-top: 12px;
    margin-bottom: 12px;
    text-shadow: 1px 1px 10px #1A1C1A;
}

.default-intro-img a{
    display: block;
    width: 200px;
    padding: 10px;
    border-radius: 32px;
    
    
    color: #1B661B;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;

    background-color: #F0FFF0;
    transition: background-color 0.3s ease;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px){
    .default-intro-img {
        padding: 0px 0px 100px 0px; 
    }
}